# Dependency directories
node_modules/
jspm_packages/
# TypeScript v1 declaration files
typings/
*.tsbuildinfo

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test

dist